.menu-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    padding: 2rem;
    justify-items: center;
    align-items: center;
}

.itemName{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.itemImg{
    max-height: 80vh;
    aspect-ratio: 2/3;
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0 0 60px rgba(123, 64, 25, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.itemImg:hover {
  transform: scale(1.05); /* slight zoom */
  box-shadow: 0 0 70px rgba(123, 64, 25, 0.9); /* stronger glow */
}